body{
    background-color: #f2f2f2;
	color: #000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
}
.header {
    width: auto;
    height: 80px;
    background-color: #ffffff;
    font-size: 1em;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.category {
	width: 100px;
	padding: 15px 30px;
    display: inline-block;
}
.category-link{
	border: 1px solid rgba(0,0,0,0);
	color: #666;
	display: block;
	padding: 10px;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.category-link.active,
.category-link:hover {
	color: #666;
	text-decoration: none;
	border: 1px solid #999;
}

.category:focus { text-decoration: none; }

.introduction{
    width: 940px;
    height: 400px;
    margin-top: 30px;
    margin-left: 84px;
    background-color: #ffffff;
}
.box1 {
    width: 640px;
    height: 400px;
    float: left;
}
.box1-1{
    width: 300px;
    height: 400px;
    float: right;
}
#area{
    margin-top: -400px;
    float: right;
}
.box1 h2{
    font-family: fantasy;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.box1 p{
    text-align: center;
    font-family: fantasy;
    font-size: 15px;
	margin-top: 30px;
	margin-left: 15px;
	padding: 10px;
}


.author{
    width: 940px;
    height: 400px;
    margin-top: 30px;
    margin-left: 84px;
    background-color: #ffffff;
}
.box2 {
    width: 640px;
    height: 400px;
    float: right;
}
.box2 h2{
    font-family: fantasy;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.box2 p{
    text-align: center;
    font-family: fantasy;
    font-size: 15px;
	margin-top: 50px;
	margin-right: 10px;
	padding: 10px;
}
.author pic2{
	float: left;
}

footer{
    background-color:#ffffff;
    width: auto;
    height:50%;
    font-family: serif;
    font-size: 18px;
    text-align: center;

}