body{
    background-color: #f2f2f2;
	color: #000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
}
.header {
    width: auto;
    height: 80px;
    background-color: #ffffff;
    font-size: 1em;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.category {
	width: 100px;
	padding: 15px 30px;
    display: inline-block;
}
.category-link{
	border: 1px solid rgba(0,0,0,0);
	color: #666;
	display: block;
	padding: 10px;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.category-link.active,
.category-link:hover {
	color: #666;
	text-decoration: none;
	border: 1px solid #999;
}

.category:focus { text-decoration: none; }

#box2 {
    width:auto;
    height: 1000px;
    text-align:center;
    margin:0 auto;
    background-color:cornsilk;
}

#container2 {
	width:620px;
    height:900px;
	margin:auto;
	position:relative;
	z-index:0;
}

#example {
	
	position:relative;
}


#slides {
	position:absolute;
	top:50px;
	left:44px;
	z-index:100;
}


.slides_container {
	width:620px;
	height:876px;
	overflow:hidden;
	position:absolute;
	left: 10px;
	top: -1px;
}

#slides .slides_container div{ margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }


#slides .next,#slides .prev {
	position:absolute;
	top:400px;
	left:-100px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}


#slides .next {
	left:735px;
}

footer{
    background-color:#ffffff;
    width: auto;
    height:50%;
    font-family: serif;
    font-size: 18px;
    text-align: center;

}