body{
    background-color: #f2f2f2;
	color: #000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
}
.header {
    width: auto;
    height: 80px;
    background-color: #ffffff;
    font-size: 1em;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.category {
	width: 100px;
	padding: 15px 30px;
    display: inline-block;
}
.category-link{
	border: 1px solid rgba(0,0,0,0);
	color: #666;
	display: block;
	padding: 10px;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.category-link.active,
.category-link:hover {
	color: #666;
	text-decoration:none;
	border: 1px solid #999;
}

.category:focus { text-decoration: none; }

.box1 {
	width: 940px;
	margin: 0 auto;
	font-size: 30px;
}
#area{
    margin-top: 7px;
    margin-left: 100px;
    float: left;
}
h2{
	border: 1px solid;
	padding: 30px;
	background-color: #ffffff;
	font-family: Lucida Console;
    text-align: center;
}

#mainbody{
	width: 940px;
    height: 400px;
	margin: 0 auto;
	font-size: 25px;
	background-color: #ffffff;
}
.book{
	float: right;
}
#mainbody p{
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
	margin-top: 30px;
	margin-left: 15px;
	padding: 10px;
}

footer{
    background-color:#ffffff;
    width: auto;
    height:50%;
    font-family: serif;
    font-size: 18px;
    text-align: center;

}
	
