body{
    background-color: #f2f2f2;
	color: #000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	overflow-x: hidden;
}
.header {
    width: auto;
    height: 80px;
    background-color: #ffffff;
    font-size: 1em;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
.category {
	width: 100px;
	padding: 15px 30px;
    display: inline-block;
}
.category-link{
	border: 1px solid rgba(0,0,0,0);
	color: #666;
	display: block;
	padding: 10px;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.category-link.active,
.category-link:hover {
	color: #666;
	text-decoration: none;
	border: 1px solid #999;
}

.category:focus { text-decoration: none; }

.video {
    width: 640px;
    margin: 0 auto;
}

footer{
    background-color:#ffffff;
    width: auto;
    height:50%;
    font-family: serif;
    font-size: 18px;
    text-align: center;

}